@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;
    h1 {
        color: v.$blanco;
    }
}

.navegacion-principal {
    background-color: red;
    @include m.phone {
        background-color: blue;
    }
    a {
        color: v.$blanco;
        font-size: 2.4rem;
        &:hover { // & es para omitir espacio que sass agrega por defecto al compilar
            color: v.$amarillo;
        }
    }
}